html, body {
height: 100%;
margin: 0;
}

.leavediv {
    display: none;
}

.row {
    max-width: 100%;
}
 
h3 {
    font-family: 'Amatic SC', cursive;
}    
 
/* MAIN */
main {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
 
/* MAIN - content */
@font-face
{
    font-family: "murder";
    font-display: block;
    src: url("fonts/AnonymousClippings.ttf");
}
 
#pagetitle 
{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
}
 
.pagecontent {
    padding: 0;
    top: 30px;
    text-align: start;
}  


.main-content {
    padding: 40px!important;
    min-height: 100%!important;
    margin-bottom: 75px;
    }
 
/* MAIN - particular to pages */
#pagetitle {
    top: 30px;
}
/* home */
.parent {
    position: relative; 
    width: 100vh;    
    justify-content: center;
    align-items: center;
    padding: 0;
}

.last_p {
    margin-bottom: 100px;
}

#picture {
    position: absolute;
    display: block;
    top: 0px;
}
 
.fadein {
    display: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(10, 10, 10);
    text-align: center;
    background-color: transparent;
    font-size: 1.2rem;
    top: 220px;
} 

.goClear {
    opacity: 0.3;
    transition: all 500ms;
}

#introtext {
    align-content: center;
    background-color: transparent;
    position: absolute;
    min-height: 15vh;
    font-family: 'Montserrat', sans-serif;
    top: 0px;
}

.intro_paragraph {
    position: relative; 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px;
    max-width: 100vw; 
    top: 0px;
}

/* tarifs */
.tarifs_intro,
.button_div,
#content_vitrine,
#content_ecommerce,
#options,
.outro_txt {
    font-family: 'Montserrat';
}

.outro_txt {
    margin-bottom: 50px;
}

.button {
    background-color: #153E50;
    border: none;
    color: whitesmoke;
}

#content_vitrine, 
#content_ecommerce {
    display: none;
}

.price {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #153E50;
}

.lien_options,
.lien_contact {
    color: #153E50;
    text-decoration: #153E50 underline;
    font-weight: bold;
}

.button_up {
    background-color: white;
    color: #153E50;
    font-size: 1.7rem;
}

.options_title {
    color: #153E50;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.main_table_head {
    background-color: #153E50;
    color: whitesmoke;
}

.secondary_table_title {
    color: #153E50;
    font-size: 1.2rem;
}




/* resume */
.resume_div {
    z-index: 42;
}

.icon {
    background-color: whitesmoke; 
    color: #153E50;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 4px solid #153E50;
    font-size: 2.5rem;
    box-shadow: 10px 10px 12px -6px rgba(21,62,80,0.7);
}

.text {
    font-family: 'Montserrat';
    color: #153E50;
    font-size: 1.2rem;
    opacity: 0;
    transform: rotate3d(0,1,0,180deg);
    text-align: center;
}

.icon_rotate {
    background-color: #153E50;
    color: whitesmoke;
    transform: rotate3d(0,1,0,180deg);
    transition: all 2000ms;
}

.text_rotate {
    opacity: 1;
    transform: rotate3d(0,1,0,360deg);
    transition: all 2000ms;
}

/* portfolio and blog */

.website {
    margin-bottom: 80px;
    height: 40vh;
    width: 40vh;
}

.website_link {
    position: relative;
    height: 36vh;
    width: 36vh;
}

.website_caption {
    position: absolute;
    height: 36vh;
    width: 36vh;
}

.website_title {
    background-color: rgba(0, 0, 0, 0.767);
    text-shadow: 3px 3px 1px #000;
    color: white;
    height: 36vh;
    width: 36vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
}

.project_description {
    display: none!important;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    background-color: rgb(252, 252, 252);
    width: 180px;
}

.website:hover .website_caption {
    opacity: 1;
    filter: none;
    transition: all 500ms;
}

.website:hover .website_title {
    transform: scale(0.1);
    opacity: 0;
    transition: 500ms;
}



/* contact */
.fas,
.far,
.fab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adresse_physique {
    margin-top: 30px;
    font-family: 'Montserrat';
}

.adresse_physique>p {
    margin: 0;
}

.iframe_container {
    width: 100%;
    margin-top: 15px;
}

.iframe_container>iframe {
    width: 100%;
}

.titre_formulaire {
    font-family: 'Montserrat';
}

.contact_text {
    font-family: 'Montserrat';
    font-size: 0.8rem;
}

.contact_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.input_div {
    max-height: 10vh;
}

.input {
    position: absolute;
    height: 8vh;
    border: none;
    border-bottom: 1px solid #153E50;
    background-color: transparent;
    border-radius: 0;
}

label {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    position: absolute;
    line-height: 8vh;
    color: #153E50;
    z-index: -1;
}

.input_div .input:focus+label{
    color: #17a2b8;
    border: none!important;
    background-color: transparent;
    box-shadow: none!important;
  }

.float label {
    transform: scale(0.6);
    line-height: 4vh;
}

#submit_btn {
    background-color: #153E50;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Montserrat';
}

.contact_anchor {
    color: maroon;
    text-decoration: underline;
}

.div_carte_visite {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.texte_carte_visite {
    text-align: center;
    font-family: 'Montserrat';
}

.image_carte_visite {
    width: 90vw;
    box-shadow: 10px 10px 12px -6px rgba(21,62,80,0.7);
}

.main_mentionslegales {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 50px 0;
    margin-bottom: 50px;
    padding: 15px;
}

.main_mentionslegales>div>p {
    font-family: 'Montserrat';
}

.main_mentionslegales>div>h2,
.main_mentionslegales>div>h3 {
    font-family: 'Amatic SC';
    font-weight: bold;
}

.mentionslegales {
    display: none;
}

 
